.btn {
    width: 40rem;
    padding: 1rem;
    cursor: pointer;
    display: block;
}

.label {
    display: inline-block;
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .btn {
        width: 70%;
    }
}